.movie-carousel-container {
    width: 100vw;
    min-height: 100vh; 
    background-color: black;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto; 
    padding-bottom: 60px; 
}

.movie-poster {
    height: 300px;
    border: 1px solid gold;
    border-radius: 10px;
    z-index: 2;
}

.movie-poster > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.movie-card-container {
    height: 550px;
    background-color: black;
    position: relative;
}

.movie-card {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: 
        linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,1)), 
        var(--img);
    position: relative;
}

.movie-detail {
    position: absolute;
    bottom: 80px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 0 20px;
    z-index: 2;
}

.movie-title {
    color: white;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px black;
}

.movie-buttons-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}

.play-button-icon-container{
    padding: 0px;
    margin: 0px;
    width: 150px;
}
.play-button-icon{
    padding:0px;
    margin:0px;
    color:gold;
    font-size: 3rem;
    transition: 0.3s;
    cursor: pointer;
}
.play-button-icon:hover{
    font-size: 4rem;
    color: white;
}

@media only screen and (max-width: 800px) {
    .movie-detail{
        flex-direction: column;
        align-items: center;
        top: 20px;
    }
}